

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap');

:root{
    --color-blue:#1900FF;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --color-mutedgray:#4C4C4C;
}

body{
    width: 100vw;
}

/* Zalando Font Variable */
.zalando {
    font-family: 'Zalando Sans', sans-serif;
    font-weight: 200;
}

@font-face {
    font-family: 'PP Neue Bit';
    src: url('/fonts/ppneuebit-bold.otf') format('opentype'),
         url('/lib/fonts/ppneuebit-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Mondwest';
    src: url('/fonts/ppmondwest-regular.otf') format('opentype'),
         url('/lib/fonts/ppmondwest-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.mondwest {
    font-family: 'PP Mondwest', sans-serif;
    font-weight: 400;
}

.neuebit {
    font-family: 'PP Neue Bit', sans-serif;
    font-weight: 700;
}

.h1{
    font-size:54px;
}

.h2{
    font-size:36px;
}
