:root{
    --color-blue:#1900FF;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --color-mutedgray:#4C4C4C;
}

@font-face {
    font-family: 'PP Neue Bit';
    src: url('/fonts/ppneuebit-bold.otf') format('opentype'),
         url('/lib/fonts/ppneuebit-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Mondwest';
    src: url('/fonts/ppmondwest-regular.otf') format('opentype'),
         url('/lib/fonts/ppmondwest-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.mondwest {
    font-family: 'PP Mondwest', sans-serif;
    font-weight: 400;
}

.neuebit {
    font-family: 'PP Neue Bit', sans-serif;
    font-weight: 700;
}

.h1{
    font-size:54px;
}